vjSystem.xcodeproj
bin/vjSystemDebug.app

controller/nodejs/node_modules/*
controller/nodejs/package-lock.json
controller/.idea/*

.vscode

vjSystemDebug-app
vjSystem-app

XcodeSigner2018.cert
XcodeSigner2018.p12
XcodeSigner2018.pem